<?php
  /**
   * Configuration file for the application, based on the default ThaFrame Configuration File
   *
   * Provides a {@link DbConnection}, start a session, and establish basic
   * configuration.
   * @package AgentManager
   * @author Argel Arias <levhita@gmail.com>
   * @copyright Copyright (c) 2007, Argel Arias <levhita@gmail.com>
   * @license http://opensource.org/licenses/gpl-license.php GNU Public License
   * @filesource
   */
   
  define('THAFRAME', TO_ROOT . "/../thaframe");
  ini_set('session.use_only_cookies', 1);
  //ini_set('session.cookie_domain', 'localhost');
  
  session_start();
  
  include THAFRAME . "/includes/functions.inc.php";
  include THAFRAME . "/includes/DbConnection.inc.php";
  
  $db_host     = 'localhost';
  $db_user     = 'root';
  $db_password = '';
  $db_name     = 'agentmanager';
  
  $DbConnection = new DbConnection($db_host, $db_user, $db_password, $db_name);
  try {
    $DbConnection->connect();
  } catch(Exception $e) {
    //echo $e->getMessage();
    loadNoDatabasePage();
  }
  $DbConnection->executeQuery("SET CHARACTER SET 'utf8'");
  
  //header('Content-Type: text/html; charset=UTF-8');
  $web_root = 'http://localhost/agentmanager';
?>